<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DecoHogar - Baño</title>
</head>

<body>

  <div class="container mt-5">
    <h1 class="text-center">Productos para el Baño</h1>
    <p class="text-center">Descubre nuestra amplia selección de productos para el baño, desde muebles hasta
      accesorios.</p>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://www.elmueble.com/medio/2023/01/04/mueble-de-bano-a-medida-en-madera-con-balda-y-cajon-00551717_00000000_00551717_230104100828_900x900.jpg"
            class="card-img-top" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title"> Mueble de Baño Moderno </h5>
            <p class="card-text">Este mueble de baño agrega estilo y funcionalidad de baño.</p>
            <p class="card-text"><strong>Precio: $19987</strong></p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img
            src="https://ae01.alicdn.com/kf/Sf78b862626a6443b8519e8eaaa6784d5f/Barra-de-toalla-giratoria-para-el-hogar-soporte-de-toalla-de-ba-o-montado-en-la.jpg"
            class="card-img-top" alt="Producto 2">
          <div class="card-body">
            <h5 class="card-title">Juego de Toallas</h5>
            <p class="card-text">Toallas suaves y absorbentes para una experiencia de baño de lujo.</p>
            <p class="card-text"><strong>Precio: $29555</strong></p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img
            src="https://acdn.mitiendanube.com/stores/898/220/products/combo11-a25b31eae163a0078516511760251869-640-0.jpg"
            class="card-img-top" alt="Producto 3">
          <div class="card-body">
            <h5 class="card-title">Accesorios de Baño</h5>
            <p class="card-text">Conjunto de accesorios para el baño con un diseño moderno y elegante.</p>
            <p class="card-text"><strong>Precio: $44129</strong></p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

</body>

</html>