<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DecoHogar - Diseño de Interiores</title>
  
</head>

<body>

  <div class="container my-5">
    <h2>Quiero recibir información</h2>
    <br>
<form action="/chat" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="mensaje" rows="3"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Enviar</button>
  <p>{{message}}</p>
</form>




      
</body>

</html>