<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DecoHogar - Diseño de Interiores</title>
</head>

<body>

  <div class="container mt-5">
    <h1 class="text-center">Cocina</h1>
    <p class="text-center">Descubre nuestra amplia selección de productos para la cocina.</p>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="https://www.thespruce.com/thmb/S1aye-s9z6VRA58-V8oRLSQwKCc=/5100x0/filters:no_upscale():max_bytes(150000):strip_icc()/SPR-luxury-kitchens-5211364-hero-688d716970544978bc12abdf17ce6f83.jpg" class="card-img-top" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title">Producto 1</h5>
            <p class="card-text">Bla bla bla.</p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://www.thespruce.com/thmb/qPEmFNP5qpIFiq3f0J-PxC7conA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/20201016_BeccaInteriors_Southampton-12-05804a4b4db6441eb16af7617793e928.jpg" class="card-img-top" alt="Producto 2">
          <div class="card-body">
            <h5 class="card-title">Producto 2</h5>
            <p class="card-text">Bla Bla Bla</p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://cf.ltkcdn.net/interiordesign/images/std/273067-800x533-basics-contemporary-kitchen-design.jpg" alt="Producto 3">
          <div class="card-body">
            <h5 class="card-title">Producto 3</h5>
            <p class="card-text">Bla Bla Bla Bla</p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


</body>

</html>