<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DecoHogar - Diseño de Interiores</title>

</head>

<body>


  <header class="bg-primary text-white py-5">
    <div class="container text-center">
      <h1 class="display-4">¡Explora el Mundo al Aire Libre!</h1>
      <p class="lead">Encuentra todo lo que necesitas para tu experiencia al aire libre en DecoHogar.</p>
    </div>
  </header>

  <section class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Mobiliario de Exterior</h2>
        <p>Descubre una amplia selección de muebles de exterior que transformarán tu espacio al aire libre
          en un oasis de comodidad y estilo.</p>
        <a href="#" class="btn btn-primary">Ver Mobiliario</a>
      </div>
      <div class="col-md-6">
        <img
          src="https://images.hola.com/imagenes/decoracion/20220425208578/muebles-exterior-creados-disenadores-famosos-nu/1-79-57/muebles-exterior-prestigiosos-disenadores-hola-decoracion-t.jpg"
          alt="Mobiliario de Exterior" class="img-fluid">
      </div>
    </div>
  </section>

  <section class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">Categorías de Productos al Aire Libre</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://reydelasparrillas.cl/wp-content/uploads/2021/03/parrilla-personalizada.jpg"
              class="card-img-top" alt="Parrillas" height="200">
            <div class="card-body">
              <h5 class="card-title">Parrillas</h5>
              <p class="card-text">Equipa tu jardín con una parrilla para disfrutar de
                asados al aire libre.</p>
              <a href="#" class="btn btn-primary">Ver Productos</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img
              src="https://resizer.glanacion.com/resizer/v2/hay-distintas-opciones-de-sillas-colgantes-y-MIF7WYZ2O5CEJIUXQN4GGL7V2U.JPG?auth=092880224f12d31028cb31f0f26502aed1e56fe7a30875d046fb884926d602c4&width=768&quality=70&smart=false"
              class="card-img-top" alt="Hamacas" height="200">
            <div class="card-body">
              <h5 class="card-title">Hamacas</h5>
              <p class="card-text">Relájate bajo el sol en una hamaca cómoda y resistente.</p>
              <a href="#" class="btn btn-primary">Ver Productos</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://decojuegos.com.ar/wp-content/uploads/2021/12/P1030548-845x684.jpg" class="card-img-top"
              alt="Juegos para Niños" height="200">
            <div class="card-body">
              <h5 class="card-title">Juegos para Niños</h5>
              <p class="card-text">Mantén a los más pequeños entretenidos con juegos al aire libre.</p>
              <a href="#" class="btn btn-primary">Ver Productos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>

</html>