<div class="cajita">

<h1 class="rep">¡Hola {{usuario}}!</h1>
<h2 class="rep">¡Estamos remodelando la página!</h2>
<h3>Te esperamos pronto para que seas parte de nuestro InteriorDesign World ♥</h3>
<img src="https://media.tenor.com/KC5HIotG-bgAAAAd/cute-robot.gif" alt="Construyendo Web">

</div>
